.player-profile .card {
  border-radius: 10px;
  background: #29335c;
  color: white;
  margin: 2rem;
}
.search {
  height: 38.7rem;
  overflow: hidden scroll;
}

.profile_img_logo {
  width: 100%;
}

.profile_logo {
  height: 38.7rem;
  width: 25rem;
  padding: 2em;
}

.details {
  text-align: center;
}

.student-profile .card p {
  color: white;
}

.table {
  margin: 0 auto;
}
.about {
  overflow: hidden scroll;
}

@media screen and (min-width: 1100px) {
  .profile {
    width: 55%;
  }
  .search {
    width: 95%;
  }
}

@media screen and (max-width: 1350px) {
  .profile_img_logo {
    width: 65%;
  }
  .profile_logo {
    width: 93%;
  }
}
@media screen and (max-width: 500px) {
  .profile_img_logo {
    width: 80%;
  }
  .profile_logo {
    width: 83%;
  }
  .search {
    height: 8.7rem;
  }
}
