
.home{

  background-color: #e7ebfc;
  background-image: url('https://r4.wallpaperflare.com/wallpaper/179/186/450/manchester-united-vs-chelsea-wallpaper-c51f2dbf534275be0dbfcebcc85781fb.jpg');
  background-repeat:initial;
  background-size:contain;
  background-position-y: -100%
}

.homeContainer{
  height: 30rem;
}