
.rowHome{
  /* display: flex; */
  /* justify-content: space-between; */
  margin:1% 10% 10% ;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: center;
  justify-content: space-between;
}

.high{
  height: 0px;
}
.high2{
  margin-top: 35px;
  }
@media (max-width: 1350px) {
  .flexContainer {
    flex-direction: column;
  }
}