.logApp,
.regApp {
  text-align: center;
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.authFormContainer,
.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
  background-color: #29335c;
}

@media screen and (min-width: 600px) {
  .authFormContainer {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
    width: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .authFormContainer {
    /* padding:5rem;
      border: 1px solid white;
      border-radius: 10px; */
    /* margin: 0.5rem; */
    padding: 4rem;
    width: 80%;
  }
}

.valError {
  margin-bottom: 1.25rem;
}

.label {
  /* text-align: left; */
  padding-right: 1rem;
}

.input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.button {
  border: none;
  background-color: #6675b1;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.linkBtn {
  background: none;
  color: white;
  text-decoration: underline;
}

.regSubmit {
  margin-top: 2rem;
}
